/*******************
General
*******************/
body {
    width: 720px;
    margin: 0 auto;
    background: url(../images/congruent_pentagon.png); /* From https://www.toptal.com/designers/subtlepatterns/congruent-pentagon/ */
    font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", sans-serif;
    font-size: 14px;
    line-height: 1.4;
}

h1, h2 {
    color: #0d5328;
}

h2 {
    font-size: 1.3em;
}

#calc,
#result {
    background: white;
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
}

@media all and (max-width: 740px){ 
    body {
        width: auto;
        padding: 0 20px;
        font-size: 13px;
    }

    #calc,
    #result {
        display: block;
    }
}

/*******************
Calculator form
*******************/
#calc {
    margin-right: 40px;
    width: 45%;
}

#calc label,
#calc input,
#calc span,
#calc button {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

#calc input {
    border: 1px solid #65bd87;
    border-radius: 5px;
    padding: 5px;
}

#calc button {
    background: #0d5328;
    color: white;
    border-width: 0;
    padding: 8px;
    border-radius: 5px;
}

#calc button:hover,
#calc button:focus {
    background: #08441f;
}

#calc span {
    color: red;
    font-size: 0.9em;
    margin-bottom: 30px;
}

@media all and (max-width: 740px){ 
    #calc {
        margin-right: 0;
        width: auto;
    }
}

/*******************
Age result
*******************/
#result {
    border: 4px solid #65bd87;
}

#result .fancy-date {
    display: inline-block; 
    text-align: center;
    margin-right: 30px;
    line-height: 1.2;
}

#result .fancy-date:nth-child(3) {
    margin-right: 0;
}

#result .fancy-date strong {
    font-size: 3.2em;
}

#result .smaller{
    color: rgb(120,120,120); 
    font-size: 0.9em
}

@media all and (max-width: 740px){ 
    #result {
        margin-top: 20px;
    }

    #result .fancy-date strong {
        font-size: 2.4em;
    }
}

/*******************
Previous submissions
*******************/
#previous {
    margin-top: 60px;
    margin-bottom: 20px;
}

#previous table {
    border-collapse: collapse;
}

#previous th, 
#previous td {
    border-width: 1px 0 1px 0;
    border-color: #65bd87;
    border-style: solid;
    padding: 6px 20px 6px 0;
    text-align: left;
}

/*******************
Date picker override
*******************/
.pika-single {
    font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", sans-serif;
}